@{
    ViewData["Title"] = "home2";

}


<h1>Meet Our New Template <span>mvc Inc.</span></h1>


<!-- Start Section About -->

<section class="about text-center wow bounceIn" data-wow-duration="2s" data-wow-offset="300" id="about1">
    <div class="container">
        <h1>Meet Our New Template <span>mvc Inc.</span></h1>
        <p class="lead">Hello Let Me Introduce Our Template mvc Inc. Created With All The Love With <strong>Bootstrap</strong> 3.2.0</p>
    </div>
</section>

<!-- End Section About -->
<!-- Start Section Features -->

<section class="features text-center">
    <div class="container">
        <h2 class="h1">Our Features</h2>
        <div class="row">

            <div class="col-lg-3 col-md-6">

                <div class="feat wow bounceInLeft" data-wow-duration="1s" data-wow-offset="200">
                    <span class="glyphicon glyphicon-ok"></span>
                    <h4>100% Responsive</h4>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
                </div>

            </div>

            <div class="col-lg-3 col-md-6">

                <div class="feat wow bounceInDown" data-wow-duration="1s" data-wow-offset="200">
                    <span class="glyphicon glyphicon-thumbs-up"></span>
                    <h4>Retina Ready</h4>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
                </div>

            </div>

            <div class="col-lg-3 col-md-6">

                <div class="feat wow bounceInUp" data-wow-duration="1s" data-wow-offset="200">
                    <span class="glyphicon glyphicon-eye-open"></span>
                    <h4>Awesome Display</h4>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
                </div>

            </div>

            <div class="col-lg-3 col-md-6">

                <div class="feat wow bounceInRight" data-wow-duration="1s" data-wow-offset="200">
                    <span class="glyphicon glyphicon-pencil"></span>
                    <h4>Well Documented</h4>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
                </div>

            </div>

        </div>
    </div>
</section>

<!-- End Section Features -->



<div class="secondmaincontent-area">


    <section class="first_pragragh">
        <div class="first_section" id="Div1">
            <h2>we are multipurpose web design studio </h2>
            <p>
                which is used for all A DIGITAL MARKETING &
                DESIGN AGENCY related activities. Use our management information system to manage your institute efficiently.
            </p>
        </div>
    </section>
    <div class="about-us2img">
        <div class="about-us3img">

            <div class="container">
                <div class="row">

                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6 col-xxs-12">
                        <div class="thumb-pad0 box4">
                            <div class="thumbnail">
                                <figure><img src="/images/page1_icon4.png" alt=""></figure>
                                <div class="caption maxheight" style="height: 250px;">
                                    <div class="box_inner">
                                        <p class="title">pro management</p>
                                        <p>Sertarsa atunteger rutebais asgera olaksj tyufeas niuas. Valante eu lacuse uisque nulladeras. Casey yoleacene anrit ma hasesera miwert betyudes socis natoqu eagnis.</p>
                                        <a href="#"><img src="/images/arrow.png" alt=""></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6 col-xxs-12">
                        <div class="thumb-pad0 box4">
                            <div class="thumbnail">
                                <figure><img src="/images/page1_icon4.png" alt=""></figure>
                                <div class="caption maxheight" style="height: 250px;">
                                    <div class="box_inner">
                                        <p class="title">pro management</p>
                                        <p>Sertarsa atunteger rutebais asgera olaksj tyufeas niuas. Valante eu lacuse uisque nulladeras. Casey yoleacene anrit ma hasesera miwert betyudes socis natoqu eagnis.</p>
                                        <a href="#"><img src="/images/arrow.png" alt=""></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6 col-xxs-12">
                        <div class="thumb-pad0 box4">
                            <div class="thumbnail">
                                <figure><img src="/images/page1_icon4.png" alt=""></figure>
                                <div class="caption maxheight" style="height: 250px;">
                                    <div class="box_inner">
                                        <p class="title">pro management</p>
                                        <p>Sertarsa atunteger rutebais asgera olaksj tyufeas niuas. Valante eu lacuse uisque nulladeras. Casey yoleacene anrit ma hasesera miwert betyudes socis natoqu eagnis.</p>
                                        <a href="#"><img src="/images/arrow.png" alt=""></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6 col-xxs-12">
                        <div class="thumb-pad0 box4">
                            <div class="thumbnail">
                                <figure><img src="/images/page1_icon4.png" alt=""></figure>
                                <div class="caption maxheight" style="height: 250px;">
                                    <div class="box_inner">
                                        <p class="title">pro management</p>
                                        <p>Sertarsa atunteger rutebais asgera olaksj tyufeas niuas. Valante eu lacuse uisque nulladeras. Casey yoleacene anrit ma hasesera miwert betyudes socis natoqu eagnis.</p>
                                        <a href="#"><img src="/images/arrow.png" alt=""></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>



            </div>


        </div>
    </div>
</div>





<!-- Start Section Contact Us -->

<section class="contact-us text-center">
    <div class="fields">
        <div class="container">
            <div class="row">
                <i class="fa fa-headphones fa-5x"></i>
                <h2 class="h1">Tell Us What You Fell</h2>
                <p class="lead">Feel Free To Contact Us Anytime</p>

                <!-- Start Contact Form -->

                <form role="form">
                    <div class="col-md-6 wow bounceInLeft" data-wow-duration="1s" data-wow-offset="400">
                        <div class="form-group">
                            <input type="text" class="form-control input-lg" placeholder="Username">
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control input-lg" placeholder="Email">
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control input-lg" placeholder="Cell Phone">
                        </div>
                    </div>
                    <div class="col-md-6 wow bounceInRight" data-wow-duration="1s" data-wow-offset="400">
                        <div class="form-group">
                            <textarea class="form-control input-lg" placeholder="Your Message"></textarea>
                        </div>
                        <button type="button" class="btn btn-danger btn-lg btn-block">Contact Us</button>
                    </div>
                </form>

                <!-- End Contact Form -->

            </div>
        </div>
    </div>
</section>

<!-- End Section Contact Us -->

<div class="global">


    <div class="container">
        <div class="row">
            <article class="col-lg-3 col-md-3 col-sm-6 welcome-box">
                <h2>why join to us !</h2>
                <p>We answer your most important question: "What do I need to do NOW, to get into a great college / get a great job / achieve my goals?"</p>
                <a href="#" class="btn-default btn2">more</a>
            </article>
            <article class="col-lg-5 col-md-5 col-sm-6 advantages-box">
                <h2>our core services</h2>
                <div class="row">
                    <article class="col-lg-6 col-md-6 col-sm-6">
                        <figure><img src="~/images/page1_pic1.jpg" alt=""></figure>
                        <h4>Experience</h4>
                        <p class="title">education institutions</p>
                        <p>We offer distinctive services for both education institutions and private clients..</p>
                        <a href="#" class="btn-default btn3"><span class="fa fa-chevron-right"></span> more info</a>
                    </article>
                    <article class="col-lg-6 col-md-6 col-sm-6">
                        <figure><img src="~/images/page1_pic2.jpg" alt=""></figure>
                        <h4>training</h4>
                        <p class="title">training services</p>
                        <p>We Empower youth through online career counseling, free training courses and helping them finding their dream job .</p>
                        <a href="#" class="btn-default btn3"><span class="fa fa-chevron-right"></span> more info</a>
                    </article>
                </div>
            </article>
            <article class="col-lg-3 col-md-3 col-sm-12 col-lg-offset-1">
                <h2>Hot Offers</h2>
                <ul class="list1-1">
                    <li>
                        <a href="#">get a premium account</a>
                        <p>get a premium account for 3 months for free.</p>
                    </li>
                    <li>
                        <a href="#">free session</a>
                        <p>our career expert will be giving a free presentation at Cairo university.</p>
                    </li>
                    <li>
                        <a href="#">Job Fairs</a>
                        <p>fill the form to register our next job fair in next Juli.</p>
                    </li>
                </ul>
                <a href="#" class="btn-default btn2">more</a>
            </article>
        </div>
    </div>

    <section class="globe-box">
        <div class="container">
            <div class="row">
                <article class="col-lg-5 col-md-6 col-sm-12 slogan-box">
                    <p class="pinglopalr">the best Strategies to peomote your Business <a href="#"></a></p>

                    <figure class="address">
                        <img class="address-marker" src="~/images/marker.png" alt="">
                        <p class="address-p"> 8901 Elmohadsein Street , Giza-Cairo.</p>
                        <p class="address-tel"> <i class="fa fa-phone fa-fw"></i> (123) 456-7890<a class="address-link" href="#"><img class="address-img" src="~/images/map_icon.png" alt=""></a></p>


                    </figure>




                </article>



                <article class="col-lg-2 col-md-2 col-sm-4 col-xs-4">
                    <div class="thumb-pad1">
                        <div class="thumbnail">
                            <figure><img src="~/images/page1_pic7.jpg" alt=""></figure>
                            <div class="caption">
                                <p class="title">mark morrow</p>
                                <p>kereaser niaserat sdiwera</p>
                                <a href="#">more info</a>
                            </div>
                        </div>
                    </div>
                </article>
                <article class="col-lg-2 col-md-2 col-sm-4 col-xs-4">
                    <div class="thumb-pad1">
                        <div class="thumbnail">
                            <figure><img src="~/images/page1_pic8.jpg" alt=""></figure>
                            <div class="caption">
                                <p class="title">lisa smith</p>
                                <p>radiwera kereaser niase</p>
                                <a href="#">more info</a>
                            </div>
                        </div>
                    </div>
                </article>
                <article class="col-lg-2 col-md-2 col-sm-4 col-xs-4">
                    <div class="thumb-pad1">
                        <div class="thumbnail">
                            <figure><img src="~/images/page1_pic9.jpg" alt=""></figure>
                            <div class="caption">
                                <p class="title">aaron brown</p>
                                <p>dolore byteasaseas</p>
                                <a href="#">more info</a>
                            </div>
                        </div>
                    </div>
                </article>
            </div>
        </div>
    </section>

</div>







